<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<% if current_user %>
  <%= current_user.user_name %>
  <%= button_to "logout", session_url, method: :delete %>
  <!-- <form action="<%# new_session_url %>" method="post">
    <input name = "_method" type="hidden" value = "delete">
    <input type = "submit" value="logout">


  </form> -->
  <% end %>
<body>

  <%= yield %>

</body>
</html>
